<div class="words-detailview col-md-12">
  <form (ngSubmit)="onSubmit(wordForm.form)" [formGroup]="wordForm" novalidate>
    <div class="form-group">
      <label for="english">English:</label>
      <input id="english"
             formControlName="english"
             type="text"
             class="form-control"
             required />
    </div>

    <div class="form-group">
      <label for="german">German:</label>
      <input id="german"
             formControlName="german"
             type="text"
             class="form-control"
             required />
    </div>

    <div class="form-group no-label">
      <label for="type">Type:</label>
      <div ngbDropdown class="dropdown btn btn-default">
         <input id="type"
                formControlName="type"
                type="button"
                class="form-control"
                required
                ngbDropdownToggle />
         <div class="dropdown-menu" aria-labelledby="dropdown">
           <button class="dropdown-item" type="button" (click)="onDropdownClick(0)">{{ dropdownValue[0] }}</button>
           <button class="dropdown-item" type="button" (click)="onDropdownClick(1)">{{ dropdownValue[1] }}</button>
           <button class="dropdown-item" type="button" (click)="onDropdownClick(2)">{{ dropdownValue[2] }}</button>
         </div>
       </div>
    </div>

    <button type="submit" class="btn btn-success pull-right">Submit</button>
  </form>
</div>
